.autosuggest--form {
  display: inline-block;
  position: relative;
}

.autosuggest--input {
  border: none;
  box-shadow: 0 0 5px 0 #bebebe;
  height: 40px;
  font-size: 16px;
  padding: 5px 25px;
  position: relative;
  width: 300px;
  z-index: 3;
}

.autosuggest--empty {
  box-shadow: 0 0 5px 0 #bebebe;
  display: block;
  text-align: left;
  padding: 15px 25px;
}
