.autosuggest--header {
  text-align: center;
  margin-bottom: 30px;
}

.autosuggest--form {
  position: relative;
  display: grid;
  grid-template-areas:
    'list-container'
    'button';
  grid-column-gap: 15px;
  grid-row-gap: 30px;
  max-width: 400px;
  margin: 0 auto;

  @media (min-width: 576px) {
    grid-template-areas: 'list-container button';
    grid-template-columns: 1fr auto;
  }
}

.autosuggest--list-container {
  grid-area: list-container;
  position: relative;
}

.autosuggest--input {
  border: none;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  height: 60px;
  font-size: 16px;
  padding: 5px 25px;
  position: relative;
  width: 100%;
  z-index: 3;

  @media (min-width: 576px) {
    height: 40px;
  }
}

.autosuggest--button {
  cursor: pointer;
  grid-area: button;
  justify-self: center;
  padding: 20px 40px;
  font-size: 16px;
  border-radius: 5px;
  background: #f56236;
  color: #fff;
  border: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);

  &:hover {
    background: rgb(171, 68, 37);
  }

  &:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  &:disabled {
    cursor: default;
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
  }

  @media (min-width: 576px) {
    padding: 10px 30px;
    justify-self: left;
  }
}

.autosuggest--empty {
  display: block;
  background: #fff;
  box-shadow: 0 0 5px 0 #bebebe;
  list-style: none;
  margin: 0;
  padding: 15px 25px;
  position: absolute;
  width: 100%;
}

.autosuggest--error {
  color: rgb(223, 48, 48);
  text-align: center;
}

.autosuggest--highlight {
  color: #f56236;
  background: transparent;
}
