.autosuggest-list {
  background: #fff;
  box-shadow: 0 0 5px 0 #bebebe;
  list-style: none;
  margin: 0;
  max-height: 240px;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  width: 100%;
}
